body{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f7f8;
    padding:3px;
    font-family: Verdana,Geneva,Arial,Tahoma,Helvetica,sans-serif;
}
a.nav:link, a.nav:visited{
    font-weight: bold;
    color: rgba(77, 77, 77, 0.66);
}
a.nav:hover{
    color: dodgerblue;
}
a:link, a:visited{
    color: dodgerblue; 
}
a#hello{
    color: black;
}
a#hello:hover{
    color: dodgerblue; 
}
div#tableContainer{
    display: table;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}
div#tableRow{
    display: table-row;
    vertical-align: top;
}
nav#nav-menu{
    position: fixed;
    width: 20%;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-right-width: 5px;
    border-color: #f6f7f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}
nav#menu:hover{
    border-style: solid;
    border-color: #f0f1f2;
}
div.menu{
    display: table-cell;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #f6f7f8;
    border-color: white;
    border-style: inset;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: medium;
    border-bottom-width: medium;
    border-radius: 10px;
    margin: auto;
    color: gray;
}
a p{
    display: flex;
    justify-content: center;
    align-items: center; 
}
div.menu:hover{
    background-color: aliceblue;
    border-color: #f6f7f8;
}
img.menu-img{
    float: left;
}
#myimgbox{
    height: 150px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#myimg{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    border: 2px solid black;
    transition: border-width 0.2s ease-in-out;
    margin: auto;
}
#myimg:hover{
    border-width: 5px;
}
#icon1{
    float: left;
    padding: 2px;
    margin-left: 1.2em;
    margin-right: 1.2em;
}
#icon2{
    float: right;
    padding: 2px;
    margin-left: 1.2em;
    margin-right: 1.2em;
}
blockquote#myname{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 20px;
    color: black;
    font-size: large;
    transition: font-weight 0.3s;
}
blockquote#myname:hover{
    color: dodgerblue;
}
footer{
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: x-small;
}

header img{
    float: left;
}
#imghello{
    transition: transform 0.3s ease-in-out;
}
#imghello:hover{
    transform: rotate(-45deg);
}
header h1{
    margin-left: 40px;
    font-size: 32px;
    font-weight: bold;
}
header p{
    font-size: small;
    color: grey;
    margin-left: auto;
    margin-right: auto;
}
article{
    height: 100%;
    background-color: white;
    border-color: white;
    border-width: thin;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
header time{
    float: right;
}
.right{
    text-align: right;
}
header h3{
    text-decoration: underline;
}
article p{
    color: gray;
}
article h3:hover{
    color: dodgerblue;
}
p.c-black{
    color: black;
}
iframe {
    position: absolute;
    border: white solid thin;
    width: 72%;
    height: 90%;
}
aside{
    float: right;
}
@media screen and (max-width: 900px) {
    nav#nav-menu{
      display: none;
    }
    body{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    footer{
    position:static;
    bottom: 0px;
    font-size: x-small;
    }
}
